# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Python virtual environment folders
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/
*.egg
*.whl

# Model files
app/classifier/*.pkl

# Database / data files
app/database.json

# PyCharm
.idea/

# pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Others
*.sqlite3
